<a href="https://colab.research.google.com/github/parthasarathys03/python-class-notes/blob/main/Dictionary_operations_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# =========================
# Python String Formatting
# =========================


name = "Partha"
name=7
age = 21
marks = 95.56

print("1Ô∏è‚É£ Old style using % operator")
print("Hello %s, your age is %d and marks are %.1f" % (name, age, marks))
print("\n")

print("2Ô∏è‚É£ Using str.format() method")
print("Hello {}, your age is {} and marks are {}".format(name, age, marks))
print("Using keywords: Hello {n}, age {a}, marks {m}".format(n=name, a=age, m=marks))
print("\n")

print("3Ô∏è‚É£ Using f-strings (Python 3.6+)")
print(f"Hello {name}, your age is {age} and marks are {marks:.1f}")
print("\n")

1Ô∏è‚É£ Old style using % operator
Hello 7, your age is 21 and marks are 95.6


2Ô∏è‚É£ Using str.format() method
Hello 7, your age is 21 and marks are 95.56
Using keywords: Hello 7, age 21, marks 95.56


3Ô∏è‚É£ Using f-strings (Python 3.6+)
Hello 7, your age is 21 and marks are 95.6

In [ ]:
## üîπ What is a Dictionary?

* A **dictionary** in Python is a collection of **key‚Äìvalue pairs**.
* Each **key** is unique, and it is used to access the **value**.
* Written inside **curly braces `{ }`** with the format:

In [ ]:
my_dict = {"name": "Arun", "age": 20, "city": "Chennai"}

AttributeError: 'dict' object has no attribute 'name1'

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"b": 3, "c": 4}

d1.update(d2)   # {'a':1, 'b':3, 'c':4}
print(d1)

# Python 3.9+ alternative
d3 = d1 | d2
print(d3)

{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

In [ ]:
a={ "name": "partha", "Name": 5}
print(a)

{'name': 'partha', 'Name': 5}

In [ ]:
a=dict( [("name","partha") , ("age",20)])
print(a)

{'name': 'partha', 'age': 20}

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3460349081.py, line 1)

In [ ]:
c=dict(name= "partha")
print(c)

{'name': 'partha'}

In [ ]:
a=dict( [("partha" , 5)])
#c=dict(partha=5 , 2=4)
#print(c)
b=dict([("partha" , 5) ,("partha" , 8),("partha" , 51)])
print(a)
print(b)

{'partha': 5}
{'partha': 51}

In [ ]:
Topic	Correct Way	Notes
Single key-value	dict([("key", value)])	List containing tuple
Multiple key-values	dict([("k1", v1), ("k2", v2)])	Each tuple = one key-value
Using keyword arguments	dict(name="Partha", age=5)	Alternative, cleaner syntax

In [ ]:
## üîπ Dictionary Operations

### 1Ô∏è‚É£ Accessing Values

student = {"name": "Arun", "age": 20, "city": "Chennai"}


print(student["name"]) # Arun

#print(student["adress"]) # error if not key available

print(student.get("age"))  # 20

print(student.get("marks", "Not Found"))  # Default value if key not present

Arun
20
Not Found

In [ ]:
### 2Ô∏è‚É£ Adding / Updating Items



student = {"name": "Arun", "age": 20, "city": "Chennai"}

student["college"] = "ABC College"   # Add new key‚Äìvalue
student["age"] = 21                  # Update existing value
print(student)
# {'name': 'Arun', 'age': 21, 'city': 'Chennai', 'college': 'ABC College'}

{'name': 'Arun', 'age': 21, 'city': 'Chennai', 'college': 'ABC College'}

In [ ]:
### 3Ô∏è‚É£ Removing Items
student = {"name": "Arun", "age": 20, "city": "Chennai"}

student.pop("city")  # Removes 'city'

student.popitem() # Removes last inserted item

del student["age"]      # Deletes key 'age'

student.clear()         # Removes all items

TypeError: pop expected at least 1 argument, got 0

In [ ]:
### 4Ô∏è‚É£ Dictionary Methods


student = {"name": "name", "age": 20, "city": "Chennai"}

print( (student.keys()))  # dict_keys(['name', 'age', 'city'])


#student["it"]="xyz company"
#print(student.values())   # dict_values(['Arun', 20, 'Chennai'])
#print(student.items())    # dict_items([('name','Arun'), ('age',20), ('city','Chennai')])

{'name', 'age', 'city'}

In [ ]:
### 5Ô∏è‚É£ Looping through Dictionary

student = {"name": "Arun", "age": 20, "city": "Chennai"}

for key in student:
    print(key, ":", student[key])

name : Arun
age : 20
city : Chennai
Arun
20
Chennai
name = Arun
age = 20
city = Chennai

In [ ]:
### Value
for value in student.values():
    print(value)

Arun
20
Chennai

In [ ]:
### Items
for k, v in student.items():
    print(k, "=", v)

name = Arun
age = 20
city = Chennai

In [ ]:
### 6Ô∏è‚É£ Copying Dictionary


new_student = student.copy()

In [ ]:
### 7Ô∏è‚É£ Nested Dictionary (Dictionary inside Dictionary)


students = {
    "student1": {"name": "Arun", "age": 20},
    "student2": {"name": "Bala", "age": 21}
}
print(students["student1"]["name"])   # Arun

Arun

In [ ]:
#1Ô∏è‚É£ Remove specific key ‚Äì pop(key)
# Example 1
student = {"name": "Arun", "age": 20, "city": "Chennai"}
removed_value = student.pop("age")   # Remove 'age'
print("Removed:", removed_value)     # 20
print(student)                       # {'name': 'Arun', 'city': 'Chennai'}

# Example 2 ‚Äì Using default to avoid KeyError
removed_value = student.pop("marks", 0)   # 'marks' key not present
print("Removed:", removed_value)          # 0
print(student)                            # {'name': 'Arun', 'city': 'Chennai'}

Removed: 20
{'name': 'Arun', 'city': 'Chennai'}
Removed: 0
{'name': 'Arun', 'city': 'Chennai'}

In [ ]:
#2Ô∏è‚É£ Remove last inserted item ‚Äì popitem()
# Example 1
student = {"name": "Arun", "age": 20, "city": "Chennai"}
key, value = student.popitem()   # Removes last inserted key-value
print(key, value)                # city Chennai
print(student)                   # {'name': 'Arun', 'age': 20}

# Example 2 ‚Äì Pop repeatedly
student = {"a": 1, "b": 2, "c": 3}
while student:
    key, value = student.popitem()
    print("Removed:", key, value)
# Removed: c 3
# Removed: b 2
# Removed: a 1

city Chennai
{'name': 'Arun', 'age': 20}
Removed: c 3
Removed: b 2
Removed: a 1

In [ ]:
#3Ô∏è‚É£ Delete a key ‚Äì del dict[key]
# Example 1
student = {"name": "Arun", "age": 20, "city": "Chennai"}
del student["name"]
print(student)   # {'age': 20, 'city': 'Chennai'}

# Example 2 ‚Äì Delete multiple keys
student = {"name": "Arun", "age": 20, "city": "Chennai", "college": "ABC"}
del student["age"]
del student["college"]
print(student)   # {'name': 'Arun', 'city': 'Chennai'}

{'age': 20, 'city': 'Chennai'}
{'name': 'Arun', 'city': 'Chennai'}

In [ ]:
#üîπ Key Notes:

pop(key) ‚Üí You know the key and may want its value.

popitem() ‚Üí Removes the last inserted item, useful in LIFO-like operations.

del ‚Üí Simple deletion by key only, doesn‚Äôt return value.

SyntaxError: invalid character '‚Üí' (U+2192) (2424545448.py, line 3)

In [ ]:
"""
students


name   age  phone  address
partha  20   9999   cuddalore
madhu  45    789     chennai
abi     20   789     america

"""


students = { "name": [ "parth" , "madhu" , "abi"] ,"age" : [20 , 45 , 20]    }
print(students)

{'name': ['parth', 'madhu', 'abi'], 'age': [20, 45, 20]}
{'name': ['parth', 'madhu', 'abi'], 'age': [20, 18, 20]}